@page
@model UsersModel

@{
    ViewData["Title"] = "All users";
}
<h1>@ViewData["Title"]</h1>
<form asp-action="UsersForm" method="post">
    <div class="row">
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn" asp-action="Block" value="Block">
                <img src="/Images/block.png" width="40px" height="40px">
            </button>
            <button type="submit" class="btn" asp-action="Unblock" value="Unblock">
                <img src="/Images/unlock.png" width="40px" height="40px">
            </button>
            <button type="submit" class="btn" asp-action="Delete" value="Delete">
                <img src="/Images/delete.png" width="40px" height="40px">
            </button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <input type="checkbox" onclick="CheckAll('chek', this)">
                </th>
                <th scope="col">@Html.DisplayNameFor(model => model.Users[0].Id)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Users[0].Name)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Users[0].Email)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Users[0].RegistrationDate)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Users[0].LastLoginDate)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Users[0].Status)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>
                        <input type="checkbox" value="@user.Id.ToString()" class="chek">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.RegistrationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.LastLoginDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Status)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script>
    function CheckAll(className, elem) {
        var elements = document.getElementsByClassName(className);
        var l = elements.length;
        if (elem.checked) {
            for (var i = 0; i < l; i++) {
                elements[i].checked = true;
            }
        } else {
            for (var i = 0; i < l; i++) {
                elements[i].checked = false;
            }
        }
    }
</script>